/*
 *= require_tree .
 *= require_self
 *= require devise_bootstrap_views
 */

@import "bootstrap-sprockets";
@import "bootstrap";

form.form-inline {
  div.form-group {
    margin-right: 20px;
  }
  label:not(.btn) {
    margin-right: 10px;
  }
}
